// no reset, browser defaults ftw
body{
    color:#444;
    padding:1em;
    max-width:40em;
    margin:0 auto;
    font-family: "Helvetica Neue", Helvetica, Arial,sans-serif;
    line-height:1.5;
}
img{
    max-width:100%;
}
h1, h2, h3, h4, h5, h6, strong{
    color:#505050;
    margin:0 0 0.4em;
    line-height:1.2;
}
.sail{
    display:block;
}
h1{
    margin:0;
    font-size:2.4em;
}
.tagline{
    font-size:1.1em;
    margin:0 0 1em;
}
ul, ol, p{
    margin:0 0 1.5em;
}
a{
    color:rgb(18, 173, 241);
}
li a{
    text-decoration: none;
}