.teaser{
  position: relative;
  border-top:1px solid $light;
  border-bottom:1px solid $light;
  padding: 20px 0 12px;
  margin: 0 0 50px;

  @media (min-width: 600px) {
    padding: 45px 0 12px;
  }

  a{
    display: block;
  }

  &:after{
    content:' ';
    width: 0;
    height: 45px;
    border-right:1px dashed $light;
    position: absolute;
    bottom: -48px;
    left: 50%;
  }
}

.teaser__link{
  color:$highlight;
  font-weight: bold;
  text-decoration: none;
  margin: 0 0 0.2em;

  @media (min-width: 600px) {
    position: absolute;
    top: 10px;
    left: 0;
  }
}

.teaser__link--location{
  left: auto;
  right: 0;
}

.overview__start{
  color:$light;
  line-height: 1;
}

.updates{
  margin: 0 0 2em;
}